* {
  margin: 0;
  padding: 0;
}

h1 {
  background: #4bad98;
}

.titlefonts {
  font-family: "Source Serif Pro", serif;
  font-size: 25px;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 40px;
  color: #4bad98;
  padding: 5px 15px 5px 15px;
}

.main-content {
  margin: 75px 20px 75px 20px;
  background-color: white;
  padding: 30px;
}

#portrait {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 180px;
}

.port-images{
    padding: 15px;
    width: 100%;
    float: left;
}


.footer {
  position: fixed;
  padding: 10px 0px 0px 0px;
  border-top: 7px solid #4bad98;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: #6c757d;
  text-align: center;
}
